<tr>
  <th><%= reservation.book().title %></th>
  <th><%= reservation.user().name %></th>
  <th><%= reservation.rental_date %></th>
  <th><%= reservation.return_date %></th>
  <th>
    <a href="/administrative/reservation/edit/<%= reservation.id %>" class="btn btn-primary">Editar</a>
    <a class="btn btn-danger">Remove</a>
  </th>
</tr>