<tr>
  <th><%= reservation.title %></th>
  <th><%= reservation.name %></th>
  <th><%= reservation.rental_date %></th>
  <th><%= reservation.return_date %></th>
  <th>
    <% if(current_user.type === 'admin' || current_user.type === 'employee'){ %>
    <a href="/administrative/reservation/edit/<%= reservation.id %>" class="btn btn-primary">Editar</a>
    <a href="" value="<%= reservation.id %>" class="btn btn-info">Renovar</a>
    <a class="btn btn-danger">Remover</a>
    <% } else { %>
    <a href="" value="<%= reservation.id %>" class="btn btn-info">Renovar</a> 
    <% } %> 
  </th>
</tr>