<tr>
  <th><%= reservation.title %></th>
  <th><%= reservation.name %></th>
  <th><%= reservation.rental_date %></th>
  <th><%= reservation.return_date %></th>
  <th class="thFlex">
    <% if(current_user.type === 'admin' || current_user.type === 'employee'){ %>
    <a href="/administrative/reservation/edit/<%= reservation.id %>" class="btn btn-primary">Editar</a>
    <form action="/administrative/renovation/<%= reservation.id %>" method="post">
      <input type="submit" value="Renovar" class="btn btn-info">
    </form>
    <form action="/administrative/delete/reservation/<%= reservation.id %>" method="post">
      <input type="submit" value="Remover" class="btn btn-danger">
    </form>
    <% } else { %>
      <form action="/administrative/renovation/<%= reservation.id %>" method="post">
        <input type="submit" value="Renovar" class="btn btn-info">
      </form>
    <% } %> 
  </th>
</tr>