<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="../../stylesheet/application.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>

  <%- include('../../../partials/sidebar'); %>

  <h1 class="containeer py-5 m250">Informações do usuários</h1>
  <div class="containeer d-flex m250">
    <div class="col-4">
      <img src="../../images/monkey.png" alt="">
    </div>
    <div class="col-6">
      <p>Nome: <%= user.name %></p>
      <p>CPF: <%= user.cpf %></p>
      <p>Matrícula: <%= user.identifier %></p>
      <p>Atribuição: <%= user.type %></p>
      <p>E-mail: <%= user.email %></p>
      <div class="pb-5 imgPassword"><p>Senha: <%= user.password %></p><img src="../../images/visibility_off.png" id="visibility">
      </div>
      <div class="pb-3">
        <a href="/user/user_edit.html" type="submit" class="btn btn-primary col-4">Editar</a>
      </div>
      <div class="pb-3">
        <a type="submit" class="btn btn-danger col-4">Deletar</a>
      </div>
      <div class="">
        <a href="/user/user_dashboard.html" type="button" class="btn btn-secondary col-4">Voltar</a>
      </div>
    </div>
  </div>
  
  <script src="../../../javascript/application.js"></script>
</body>
</html>